<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<ul>
    <li><a href="http://127.0.0.1:5000/waste/get">/waste/get</a></li>
   <li><a href="http://127.0.0.1:5000/material/get">/material/get</a></li>
    <li><a href="http://127.0.0.1:5000/recycling/get">/recycling/get</a></li>
</ul>
<p>Pour ajouter :</p>
<ul>
    <li> un waste : /waste/add?name=nomWaste</li>
    <li> un material : /material/add?name=nomMat&barCode=barCodeMat&idRecycling=id</li>
    <li> un recycling : /recycling/add?name=nomRecy</li>
</ul>
</body>
</html>